{% extends "base.njk" %}

{% block extraHead %}
<title>Links</title>
{% endblock %}

{% block content %}
{% include 'content/menuHeader.njk' %}
<div id="subpageWrapper">
  <h2>{{ config.sitename }} Links</h2>
  <div>
    {% if config.links.status and config.links.status | length > 0 %}
    <p><b>Status Page{% if config.links.status | length > 1 %}s{% endif %}:</b></p>
    <ul>
    {% for page in config.links.status %}
    <li><a target="_blank" href="{{ page.url }}">{{ page.title | replace('https://', '') }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    <p><b>Clearnet:</b></p>
    <ul>
      {% for link in config.links.clearnet %}
      <li><a target="_blank" href="{{ link.url }}"><b>{{ link.url | replace('https://', '') }}</b></a><br> {{ link.description }}</li><br>
      {% endfor %}
    </ul>
    {% if config.links.onion and config.links.onion | length > 0 %}
    <p><b>Alternative routing{% if config.links.onion | length > 1 %}s{% endif %}:</b></p>
    <ul>
      {% for link in config.links.onion %}
      <li><a target="_blank" href="{{ link.url }}"><b>{{ link.url | replace('http://', '') }}</b></a>
        {% if link.type == 'v2' %}
        (deprecated!)
        {% endif %}
        <br>{{ link.type }} address
        {% if link.oldUrl %}
        (formerly: {{ link.oldUrl | replace('http://', '') }})
        {% endif %}
        {% if link.clearnetRedirect %}
        <br>
        Clearnet redirect: <a target="_blank" href="{{ link.clearnetRedirect }}">{{ link.clearnetRedirect | replace('https://', '') }}</a>
        {% endif %}
      </li>
      {% if not loop.last %}<br>{% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% if config.links.git and config.links.git | length > 0 %}
  <h2>Git repositories</h2>
  <div>
    <ul>
      {% for repo in config.links.git %}
      <li><a target="_blank" href="{{ repo.url }}">{{ repo.name }}</a><br>{{ repo.description }}</li>
      {% if not loop.last %}<br>{% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if config.links.bunker and config.links.bunker | length > 0 %}
  <h2>Backup boards</h2>
  <div>
    <ul>
      {% for bunker in config.links.bunker %}
      <li><a target="_blank" href="{{ bunker.url }}">{{ bunker.title }}</a></li>
      {% if not loop.last %}<br>{% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <h2>Applications for mobile devices</h2>
  <div>
    <ul>
      <li><b>Dashchan Extension</b>:<br> <a href="https://github.com/krautbernd/Dashchan-Extensions-kohlchan">Dashchan Extension</a></li><br>
      <li><b>Overchan (Fork) (enable beta version updates in settings)</b>:<br> <a href="https://github.com/overchan-project/Overchan-Android/releases/download/current/Overchan-Android-current.apk">Overchan (Fork)</a></li>
    </ul>
  </div>
  <h2>Other Bernd Projects</h2>
  <div>
    <p>The following list contains other independent projects with no relation to the {{ config.sitename }} administration. New projects can be created or shown on the <a href="/make/" target="_blank">&gt;&gt;&gt;/make/</a> board.</p>
    <ul>
      <li><b>Dietchan - Proudly made without PHP, Java, Perl, MySQL, Postgres, MongoDB and Node.js</b>:<br> <a target="_blank" href="https://dietchan.org">dietchan.org</a></li><br>
      <li><b>Krautplausch</b>:<br> <a target="_blank" href="https://krautplausch.hopto.org/">krautplausch.hopto.org</a></li><br>
      <li><b>Berndströmt</b>:<br> <a href="https://berndstroemt.kohlchan.net/">berndstroemt.kohlchan.net</a></li>
      {# <li><b>Der Flug der Neubiene</b>:<br> <a href="https://kohlchan.net/prog/res/160.html">Faden für die offiziellen Releases des KC-Spieles "Der Flug der Neubiene"</a></li> #}
      {# <li><b>Radio Freies Kohlchan (RfK)</b>:<br> <a href="https://radio.kohlchan.net">radio.kohlchan.net</a></li><br> #}
      {# <li><b>Einskanal.net</b>:<br> <a href="https://einskanal.net">einskanal.net</a></li><br> #}
    </ul>
  </div>
  <h2>Christmas Credits</h2>
  <div>
    <ul>
      <li>Default Christmas Background <a href="http://www.freepik.com">Designed by createvil / Freepik</a></li><br>
      <li>Dark Christmas Background <a href="http://www.freepik.com">Designed by pikisuperstar / Freepik</a></li><br>
      <li>CSS Snowflakes <a target="_blank" href="https://w3bits.com/css-snowfall/">Created By W3BITS</a></li>
    </ul>
  </div>
</div>
{% endblock %}
